<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: nav"></nav>
<div class="container">
    <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${message}">메시지</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">X</span>
        </button>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="row">
            <div class="col-md-4">
                <img th:if="${!#strings.isEmpty(profileUser.avatarUrl)}" th:src="${profileUser.avatarUrl}" width="70%"/>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <h2 th:text="${profileUser.getName()}">name</h2>
                    <span th:text="'@'+${profileUser.getLogin()}">login</span>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <dl>
                            <dt>followers</dt>
                            <dd th:text="${profileUser.getFollowers()}">followers</dd>
                            <dt>following</dt>
                            <dd th:text="${profileUser.getFollowing()}">following</dd>
                        </dl>
                    </div>
                    <div class="col-6">
                        <dl>
                            <dd th:text="${profileUser.getEmail()}">email</dd>
                            <dd th:if="${!profileUser.getBlogUrl().isEmpty()}" th:text="${profileUser.getBlogUrl()}">
                                blog url
                            </dd>
                            <p th:if="${!#strings.isEmpty(profileUser.bio)}" th:text="${profileUser.bio}">bio</p>
                            <p th:if="${#strings.isEmpty(profileUser.bio) && isOwner}">
                                자기소개를 추가하세요.
                            </p>
                            <a th:if="${isOwner}" th:href="@{/profileedit}" class="btn btn-primary btn-sm active"
                               role="button" aria-pressed="true">프로필 수정</a>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5 justify-content-center">
        <div class="col-4">피드 리스트</div>
        <div class="col-8">
            <div class="row">
                <table class="table table-hover" th:if="${!#strings.isEmpty(profileUser.rssUrl)}">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="feed:${userFeeds}" th:onclick="window.open([[${feed.getLink()}]])">
                        <td th:text="${feed.title}">feed title</td>
                        <td th:text="${feed.getCreatedDate()}">작성일</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form th:if="${!#strings.isEmpty(profileUser.rssUrl)&&isOwner}" th:action="@{/profileedit}"
                                  th:method="put">
                                <button type="submit" class="btn btn-danger btn-lg btn-block">등록 해제</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <p th:if="${#strings.isEmpty(profileUser.rssUrl) && isOwner}">
                    rssURL을 추가하세요.
                </p>

            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5 justify-content-center">
        <div class="col-4">Github Repositories!</div>
        <div class="col-8">
            <table class="table table-hover">
                <tr>
                    <th>이름</th>
                    <th>언어</th>
                    <th>star</th>
                </tr>
                <tr th:each="repo:${repos}" th:onclick="window.open([[${repo.url}]])">
                    <td th:text="${repo.getName()}"></td>
                    <td th:text="${repo.getLanguage()}"></td>
                    <td th:text="${repo.getStarCount()}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
